*
    box-sizing: border-box
body
    font-family: 'Mulish', sans-serif
    background-color: $secondary
    color: $text-color
h1, h2, h3, h4, h5, h6 
    margin: 0
p
    margin: 0
ul, li
    list-style: none
    margin: 0
    padding: 0
a
    text-decoration: none
    color: inherit
img
    max-width: 100%
button
    padding: 0
    border: none
    cursor: pointer
.container
    max-width: 1110px
    margin: auto
.form
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
.input
    background-color: $light
    border-radius: 4px
    border: none
    padding: 0 23px
    height: 50px
.message
    height: 125px
    background-color: $light
    border-radius: 4px
    border: none
    padding: 18px 23px
.inner
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
.button
    min-width: 160px
    min-height: 50px
    padding: 18px
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px
    color: $light
    background-color: $primary
    border: none
    border-radius: 4px
.invalid
    color: $primary


